{% extends "base.html" %}
{% block static %}
    <script src="/static/js/game.js"></script>
{% endblock %}
{% block content %}
    <div id="data_store" data-json="{{ data }}"></div>
    <div class="flex h-full w-full flex-col items-center justify-center">
        <div class="relative h-[75vh] w-[75vw] bg-white">
            <div
                id="lives"
                class="absolute right-2 top-1 flex flex-row space-x-2"></div>
            <div id="hammers"></div>
            <div
                id="crab"
                class="absolute left-[50%] top-[50%] h-48 w-48 -translate-x-[50%]">
                <img src="/static/assets/crab.png" />
            </div>
        </div>
    </div>
{% endblock %}
