{% extends "base.html" %}
{% block content %}
    <div
        class="h-[94vh] bg-cover bg-center"
        style="background-image:url('static/assets/Website_P1_Blank.png')">
        <img
            class="ml-3 h-[15vh]"
            src="{{ url_for('static', filename='assets/Logo_Full.png') }}" />
        <div
            class="grid-flow-* container mx-auto flex h-3/4 w-2/5 flex-col items-center justify-center rounded-3xl border-0 border-indigo-50 bg-theme-artic"
            style="margin: auto; margin-top:3%;">
            <div class="text-black mx-3 p-4 m-4 w-[85%]">
                <a class="font-semibold text-theme-bronze text-xl brightness-95">Forge</a> takes either an audio file or a large text and extracts
                important terms and definitions to create an educational game.
                To try it out, input a text or audio below!
            </div>
            <form
                action="/loading"
                method="post"
                class="m-auto mt-0 flex h-full w-full flex-col items-center justify-center"
                enctype="multipart/form-data">
                <textarea
                    id="text_input"
                    name="text_input"
                    class="mx-auto mt-2 h-1/2 w-4/5 resize-none rounded-3xl border-8 border-theme-slate p-5 align-text-top text-3xl text-theme-slate placeholder-theme-steel placeholder:text-center focus:outline-none"
                    placeholder="Enter lecture text here..."></textarea>
                <br />
                <p1 class="text-4xl">---------------OR---------------</p1>
                <br />
                <!-- <input type = "file" title=" " class="bg-theme-artic  mt-4 border-8 border-theme-slate rounded-3xl w-3/5 h-1/6 text-center text-4xl flex items-center justify-center" style="position: relative;"/> -->
                <!-- insert like the file upload button here -->

                <!-- <img class="-ml-5 mr-9 h-[7vh] w-[7vh]"  src="{{ url_for('static', filename='assets/Attachment_Icon.png') }}"> -->

                <input
                    accept=".txt, .wav"
                    name="file_input"
                    class=" block h-12 w-3/5 cursor-pointer  
            rounded-2xl border-4 border-theme-slate text-3xl file:-my-3 file:-ml-1 file:mr-3 file:border-0 file:bg-theme-slate file:py-3
            file:text-theme-halfw hover:border-theme-prussian file:hover:bg-theme-prussian focus:outline-none dark:bg-white  dark:text-theme-steel"
                    id="file_input"
                    type="file" />
                <input
                    type="submit"
                    class=" mt-6 cursor-pointer rounded-lg bg-theme-slate px-10 py-2 text-3xl text-white hover:bg-theme-prussian"
                    value="Submit" />
            </form>
        </div>
    </div>
    <div class="h-[6vh] w-full bg-theme-bronze"></div>
{% endblock %}
