{% extends "base.html" %}
{% block content %}
<div class="bg-cover bg-center h-[92vh]" style="background-image:url('static/assets/Website_P1_Blank.png')">
    <div class="flex items-center justify-center border-indigo-50 rounded-3xl border-0 w-2/5 h-2/5 bg-theme-artic">
        Loading...
    </div>
</div>
<div class="h-[8vh] w-full bg-theme-bronze"></div>
<script>
    function navigate() {
        window.location.href = 'game';  // Redirects user to the /map route when 'create_map' is finished
    }
    fetch('parse_text').then(navigate); // Performing 'create_map' and then calls navigate() function, declared above
</script>
{% endblock %}