{% extends "base.html" %}
{% block content %}
    <div
        class="flex-col h-[94vh] bg-cover bg-center bg-theme-prussian">
        <img
            class="mx-auto pt-5 h-[23vh]"
            src="{{ url_for('static', filename='assets/Logo_Text.png') }}" />
        <div
            class="bg-theme-ar tic grid-flow-* container mx-auto flex h-3/4 w-2/5 flex-col items-center justify-center rounded-3xl border-0 border-theme-bronze bg-opacity-0"
            style="margin: auto;">
            <img class="h-1/2" src="/static/assets/Crab_Loading.gif" />
            <div
                class="flex  h-1/6 w-full flex-col items-center justify-center rounded-2xl bg-opacity-0">
                <div
                    class="flex items-center justify-center rounded-sm bg-opacity-0 border-4 border-opacity-100 border-theme-bronze relative h-1/2 w-full overflow-hidden">
                    <div
                        class="rounded-sm top-0 h-1/2 my-auto ml-0 w-0 bg-theme-bronze" id = "loading_bar"></div>
                </div>
                <p class="text-theme-bronze mt-4 text-4xl font-custom" id="loading">
                    Loading.
                </p>
            </div>
        </div>
    </div>
    <div class="bg-theme-bronze h-[6vh] w-full"></div>

    <script>
        var text = ["Loading.", "Loading..", "Loading..."];
        var counter = 0;
        var elem = document.getElementById("loading");
        var inst = setInterval(change, 1000);

        function change() {
            counter = (counter + 1) % text.length;
            elem.innerHTML = text[counter];
        }
        var bar = document.getElementById("loading_bar");
        var width = 1.0;
        var id = setInterval(frame, 10);
        var inc = Math.random() * (.1-.01) + .01;
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                console.log((width | 0))
                if((width | 0)%20 == 0)
                {
                    inc=Math.random() * (.05-.01) + .01;
                    width+=1;
                    
                }
                else if((width | 0)==85)  
                    inc = .01
                    else if((width | 0)==92)  
                    inc = .001
                width+=inc;
                bar.style.width = width + "%";
            }
        }

        fetch("/parse_text")
            .then((v) => v.json())
            .then((j) => {
                window.location.href = "/game?" + jQuery.param(j);
            });
    </script>
{% endblock %}
